/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
database/migrations/2022_07_25_170803_subscription_details.php
public/storage.lnk
app/Http/Controllers/qr-generator/venv
app/Http/Controllers/qr-generator/generator/data.log
